SECRET_KEY="topsecretkey"
PG_USER = "postgres"
PG_PWD = "mysecretpassword"
PG_PORT = "5432"
PG_DB = "rms-kejora"
PG_HOST = "mliem.kejora.my.id"
HOST="https://mliem.kejora.my.id:5000"
ENV = "DEV"
MENU_PATH = "uploads/menu"
USER_PATH = "uploads/user"
CATEGORY_PATH = "uploads/category"