chromedriver_autoinstaller==0.6.4
fastapi==0.115.4
fastapi_socketio==0.0.10
Pillow==11.0.0
psycopg2==2.9.10
pydantic==2.9.2
PyJWT==2.9.0
pyserial==3.5
python-dotenv==1.0.1
python_bcrypt==0.3.2
pywin32==308
PyYAML==6.0.2
rich==13.9.4
selenium==4.26.1
SQLAlchemy==2.0.36
uvicorn==0.32.0
Werkzeug==3.1.3
